{% include 'software/include/top-bar.html' %}


<head>
    {% include 'software/include/scripts/downloadButtonStyle.html' %}
</head>

<body style="background-color: rgb(61, 59, 59);">
    <h3 style="color: rgb(205, 194, 194);">Download Resume</h3>
    {% for resume in resumes %}
    <p>
        <span class="resumeName">
            {{resume.resume_company_name}} : 
        </span>
        {% include 'software/include/scripts/downloadURL.html' %}
        <button class="btn" onclick = "location.href = getDownloadURL('{{resume.resume_link}}')"><i class="fa fa-download" ></i>
            Download
        </button>
    </p>
    {% endfor %}
</body>