{% load static %}
<link rel="stylesheet" href="{% static 'software/css/materialize.css' %}">
    
<!-- Compiled and minified JavaScript for Materialize CSS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/">Home</a></li>
        <li><a href="/software/">Software</a></li>
        <li><a href="/software/resume/">Resume</a></li>
      </ul>
    </div>
</nav>