{% include "freelancing/include/top-navbar.html" %}

<h3>wallpaper-thumbnail</h3>

<head>
  {% include "freelancing/include/scripts/downloadWallpaper.html" %}
</head>

<body style="background-color: rgb(61, 59, 59);">

  <div class="row">
    {% for wallpaper in wallpapers %}
      <div class="col s12 m6 l3">
        <div class="card" style="background-color: rgb(0, 0, 0);">

          <div class="card-image">
            {% include "freelancing/include/scripts/viewWallpaper.html" %}
          </div>

          <div class="card-content" style="color: rgb(131, 126, 126);">
              <p style="font-size:150%;"><strong>{{wallpaper.wallpaper_name}}</strong></p>
              <p>{{wallpaper.wallpaper_date}}</p>
          </div>

          <div class="card-action" class="pointer">
            <form method="get">
            <input class="pointer" type = "button" style="background-color: rgb(81, 81, 89); color: rgb(124, 97, 177);" value="Download" onclick="location.href = getDownloadURL('{{wallpaper.wallpaper_drive_url}}')"/>
          </form>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>

</body>
