{% include "freelancing/include/top-navbar.html" %}
<h3 class="topicSelf">Wallpaper-Thumbnail</h3>

<head>
  {% include "freelancing/include/scripts/downloadWallpaper.html" %}
  {% include "freelancing/include/scripts/styling.html" %}
</head>

<body class="bodySelf">

  <div class="row">
    {% for wallpaper in wallpapers %}
      <div class="col s12 m6 l3">
        <div class="card cardSelf">

          <div class="card-image">
            {% include "freelancing/include/scripts/viewWallpaper.html" %}
          </div>

          <div class="card-content contentSelf">
              <p style="font-size:150%;"><strong>{{wallpaper.wallpaper_name}}</strong></p>
              <!-- <p>{{wallpaper.wallpaper_date}}</p> -->
              
          </div>

          <div class="card-action pointer viewDownloadSelf">
            <button class="btn" onclick = "window.open(getViewURLNewTab('{{wallpaper.wallpaper_drive_url}}'), '_blank'); window.focus(); return 'false';">
              <i class="fa fa-eye" ></i>
            </button>
            <button class="btn" onclick = "window.open(getDownloadURL('{{wallpaper.wallpaper_drive_url}}'), '_blank'); return 'false';">
              <i class="fa fa-download" ></i>
            </button>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>

</body>
