{% include "freelancing/include/top-navbar.html" %}
<h3>wallpaper-thumbnail</h3>


<div class="row">
  {% for wallpaper in wallpapers %}
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="{{wallpaper.wallpaper_drive_url}}" height="224"/>
        </div>
        <div class="card-content">
            <p style="font-size:150%;"><strong>{{wallpaper.wallpaper_name}}</strong></p>
            <p>{{wallpaper.wallpaper_date}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>