<style>
    .headingSelf {
        font-size: xx-large;
        font-family: "Comic Sans MS";
        color: rgb(131, 126, 126);
    }
    .hide {
        display: none;
    }
    .myDIV:hover + .hide {
        display: block;
    }
</style>


<div class="container" style="margin-left: 10px;">
    <p class="headingSelf">Software Developer</p>
    <p><span class = "headingSelf">Coding Profiles</span>
        <div>
            <ul><a href= "https://www.leetcode.com/nikhil17agarwal" target="_blank">Leetcode</a>
                <a href= "https://www.leetcode.com/nikhil17agarwal" target="_blank"><img style="vertical-align:middle" src='https://leetcard.jacoblin.cool/nikhil17agarwal?border=0&radius=30&ext=contest&theme=dark' 
                    alt='Leetcode Stats'></a></ul>
            
        </div>
        <ul><a href= "https://www.github.com/nikhilagarwal1701" target="_blank">GitHub</a></ul>
        <ul><a href= "https://www.hackerrank.com/nagarwal1701" target="_blank">HackerRank</a></ul>
        <ul><a href= "https://auth.geeksforgeeks.org/user/nikhil17agarwal" target="_blank">GeeksForGeeks</a></ul>
    </p>
</div>